/*Global css applied to all components - scrollbar etc*/

:root {
  --navbar-height: 60px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
  }

  html, body{
      scroll-behavior: smooth;
      background-color: rgb(11, 27, 56);
      height: 100%;
  }

  #app {
    height: 100%;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #0b1b38;
    margin-top: 60px;
  }

  /*scrollbar*/
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(108, 73, 235);
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: white;
  }